services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file: ".env"
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h localhost -U $${POSTGRES_USER:-postgres}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - "${REDIS_PORT:-6379}:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    restart: always
    env_file: ".env"
    ports:
      - "${SERVER_PORT:-8000}:5000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery_worker
    restart: always
    env_file: ".env"
    entrypoint: ["/app/scripts/celery_entrypoint.sh"]
    command: ["uv", "run", "celery", "-A", "src.workers.celery_app", "worker", "--loglevel=info"]
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery_beat
    restart: always
    env_file: ".env"
    entrypoint: ["/app/scripts/celery_entrypoint.sh"]
    command: ["uv", "run", "celery", "-A", "src.workers.celery_app", "beat", "--loglevel=info"]
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

volumes:
  postgres_data: