services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file: ".env"
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h localhost -U $${POSTGRES_USER:-postgres}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    restart: always
    env_file: ".env"
    ports:
      - "${SERVER_PORT}:5000"
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: